@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Open+Sans:wght@300;700&display=swap");
:root {
  --cor-primaria: #2c3639;
  --cor-secundaria: #dcd7c9;
  --cor-terciaria: #a27b5c;
  --cor-quaternaria: #e3b7a0;
  --cor-hover: #a27b5c;
  --fonte-primaria: "Open Sans", sans-serif;
  --fonte-secundaria: "Asap", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
body strong {
  color: var(--cor-terciaria);
}

.pergunta-destaque {
  color: var(--cor-terciaria);
}
.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 50px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-primaria);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-quaternaria);
  text-decoration: none;
}

.apresentacao {
  padding: 1% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:22px;
}
.apresentacao__texto {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  gap: 30px;
}
.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-weight: 300px;
  font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__paragrafo {
  font-size: 1.3rem;
  font-family: var(--fonte-secundaria);
}
.botao-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.botao-do-link {
  display: flex;
  justify-content: center;
  gap: 12px;
  border: 2px solid var(--cor-secundaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600px;
  padding: 7px 0;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  color: var(--cor-quaternaria);
}
.botao-do-link:hover {
  background-color: var(--cor-hover);
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  color: var(--cor-terciaria);
  font-size: 1.4rem;
}
.foto {
  width: 80%;
}

